.uicons h1,
.uicons h2,
.uicons h3,
.uicons h5,
.uicons h6 {
    color: #374957
}

@media screen and (min-width:768px) {
    .uicons:before {
        content: "";
        display: block;
        width: 100%;
        height: 420px;
        position: absolute;
        top: 0;
        left: 50%;
        background: url(../assets/bg.5f4e1cd03a88761240785741f9245aee.svg) no-repeat 50%;
        transform: translateX(-50%);
        z-index: 1
    }
    .uicons:not(.uicons--landing) #main {
        position: relative;
        z-index: 1
    }
}

.uicons--landing:before {
    display: none
}

.uicons--landing .tags-columns ul:last-child {
    display: block
}

.uicons:not(.uicons--landing) #viewport {
    padding-top: 54px
}

.uicons__header {
    height: 64px;
    padding: 0 10px;
    margin-bottom: 30px;
    z-index: 1
}

.uicons__header ul {
    font-size: 14px
}

.uicons__header ul li {
    margin: 0 10px
}

.uicons__header ul li:last-child {
    margin-right: 0
}

.uicons__header ul li a,
.uicons__header ul li button {
    color: #0e2a47;
    font-weight: 500
}

.uicons__header ul li a:hover,
.uicons__header ul li button:hover {
    color: #0e2a47;
    text-decoration: none
}

.uicons__header ul li.active a {
    font-weight: 600
}

.uicons__landing {
    margin-bottom: 70px
}

.uicons__landing__hero {
    color: #374957;
    position: relative;
    overflow: hidden;
    background: linear-gradient(98.75deg, rgba(179, 179, 252, .3) 2.58%, rgba(199, 235, 255, .3) 47.57%, rgba(199, 255, 199, .3) 98.55%);
    margin-bottom: 60px;
    border-radius: 8px
}

.uicons__landing__hero>.container {
    padding: 40px
}

.uicons__landing__hero__text {
    width: 40%
}

.uicons__landing__hero__text img {
    padding: 0 5px
}

.uicons__landing__hero__text h1 {
    color: #0b2239;
    line-height: 1.2
}

.uicons__landing__hero__text h1 span {
    background: linear-gradient(105.09deg, #5f5ff6 -.57%, #2c8cf4 89.55%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent
}

.uicons__landing__hero__images {
    width: 65%
}

.uicons__landing__hero__images img {
    max-width: unset;
    position: absolute
}

.uicons__landing__hero__images .main-image {
    bottom: 0;
    left: 47%
}

.uicons__landing__hero__images .green-bigest-ball {
    top: 0;
    left: 48%
}

.uicons__landing__hero__images .green-big-ball {
    top: 0;
    left: 86%
}

.uicons__landing__hero__images .purple-big-ball {
    bottom: 0;
    left: 42%
}

.uicons__landing__hero__images .green-small-ball {
    top: 40px;
    left: 50%
}

.uicons__landing__hero__images .purple-small-ball {
    top: 40px;
    left: 80%;
    filter: drop-shadow(0 0 2px rgba(55, 73, 87, .15)) drop-shadow(0 2px 5px rgba(55, 73, 87, .2))
}

.uicons__landing__trending {
    margin-bottom: 100px
}

.uicons__landing__advantages {
    margin-bottom: -150px!important
}

.uicons__landing__advantages h3 {
    margin-bottom: 120px
}

.uicons__landing__advantages h3 .text-gradient {
    background: linear-gradient(105.09deg, #5f5ff6 -.57%, #2c8cf4 44.02%, #2bc48a 89.55%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent
}

.uicons__landing__advantages svg {
    position: relative;
    top: -185px
}

.uicons__landing__advantages .code-browser {
    width: 472px;
    position: absolute;
    bottom: 270px;
    left: 225px
}

.uicons__landing__advantages .code-browser__header {
    background-color: #08192b
}

.uicons__landing__advantages .code-browser__header span {
    background-color: #143b63
}

.uicons__landing__advantages .code-browser__content {
    font-size: 14px
}

.uicons__landing__advantages .code-browser__content code {
    font-weight: 400
}

@media screen and (max-width:992px) {
    .uicons__landing__hero__text {
        width: 100%;
        max-width: 470px;
        text-align: center;
        margin: 0 auto
    }
    .uicons__landing__hero__text>.row {
        justify-content: center
    }
    .uicons__landing__hero__images {
        position: relative;
        width: 100%
    }
    .uicons__landing__hero__images .main-image {
        width: 90%;
        position: relative;
        bottom: -48px;
        left: 50%;
        transform: translateX(-50%)
    }
    .uicons__landing__hero__images .green-big-ball,
    .uicons__landing__hero__images .green-bigest-ball {
        display: none
    }
    .uicons__landing__hero__images .purple-big-ball {
        bottom: -40px;
        left: -50px
    }
    .uicons__landing__hero__images .green-small-ball {
        top: 17%;
        left: 8%
    }
    .uicons__landing__hero__images .purple-small-ball {
        top: 20%;
        left: 74%
    }
}

@media screen and (max-width:768px) {
    .uicons__landing__advantages {
        margin-bottom: -100px
    }
    .uicons__landing__advantages h3 {
        margin-bottom: 50px
    }
    .uicons__landing__advantages svg {
        top: -80px;
        margin-left: -50px;
        width: calc(100% + 150px);
        height: auto
    }
    .uicons__landing__advantages .code-browser {
        bottom: 200px
    }
    .uicons__landing__advantages__text {
        padding: 0 50px!important
    }
}

@media screen and (max-width:640px) {
    .uicons__landing__hero {
        margin-bottom: 40px
    }
    .uicons__landing__hero__images .green-small-ball {
        width: 10px;
        top: 32%
    }
    .uicons__landing__hero__images .purple-small-ball {
        width: 15px;
        top: 34%
    }
    .uicons__landing__advantages {
        margin-bottom: 0
    }
    .uicons__landing__advantages img {
        width: 24px
    }
    .uicons__landing__advantages svg {
        top: -60px
    }
    .uicons__landing__advantages .code-browser {
        width: 100%;
        left: 0;
        bottom: 190px;
        position: relative
    }
    .uicons__landing__advantages__text {
        padding: 0!important
    }
}

.uicons .group--inputs-cdn>*,
.uicons .group--inputs-npm>* {
    border-right: none;
    font-weight: 400
}

.uicons .group--inputs-cdn:before,
.uicons .group--inputs-npm:before {
    box-shadow: inset 0 0 0 1px #e3e9ed
}

.uicons .group--inputs-cdn .group__input input,
.uicons .group--inputs-npm .group__input input {
    background: #f8fafb;
    color: #374957;
    font-weight: 400;
    text-overflow: ellipsis;
    font-size: 14px
}

.uicons__search input {
    margin: 0;
    padding: 0 0 0 44px;
    border: none;
    background: none;
    box-sizing: border-box;
    flex: 1
}

.uicons__search input:placeholder-shown+button {
    visibility: hidden
}

.uicons__search__empty {
    padding: 20px
}

.uicons__search__empty i {
    font-size: 38px;
    width: 38px;
    height: 38px;
    line-height: 38px
}

.uicons__search-results {
    max-width: 1050px;
    margin: auto
}

.uicons__search-results h1,
.uicons__search-results p {
    color: #374957
}

.uicons__icons {
    max-width: 1050px;
    margin: auto
}

.uicons__icons>ul {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: row dense;
    grid-gap: 18px
}

.uicons__icons>ul>li:not(.icon__detail--container) {
    min-width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    overflow: hidden;
    transition: transform .2s ease, box-shadow .2s ease
}

@media screen and (min-width:768px) {
    .uicons__icons>ul>li:not(.icon__detail--container):not(.active):not(.icon__detail--container):hover {
        transform: translateY(-2px);
        box-shadow: 0 6px 18px 0 rgba(32, 32, 149, .1);
        z-index: 1
    }
}

.uicons__icons>ul>li:not(.icon__detail--container):before {
    content: "";
    display: block;
    width: 100%;
    padding: 0 0 100%
}

.uicons__icons>ul>li:not(.icon__detail--container).active a:before {
    transform: scale(2)
}

.uicons__icons>ul>li:not(.icon__detail--container) a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block
}

.uicons__icons>ul>li:not(.icon__detail--container) a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f8fafb;
    border-radius: 100%;
    transform: scale(0);
    transition: transform .3s ease
}

.uicons__icons>ul>li:not(.icon__detail--container) img {
    top: 50%;
    position: relative;
    margin: -13px auto auto
}

.uicons__icons>ul>li:not(.icon__detail--container) img.lazyload--done {
    filter: invert(25%) sepia(53%) saturate(269%) hue-rotate(163deg) brightness(90%) contrast(89%)
}

.uicons__icons>ul .circle-spinner {
    grid-column-start: 1;
    grid-column-end: five;
    width: 35px;
    height: 35px
}

.uicons__icons .icon__detail--container {
    grid-column-start: 1;
    grid-column-end: -1;
    width: calc(100% - 20px)
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper {
    background-color: #f8fafb;
    border-radius: 3px 3px 0 0;
    padding: 60px 90px 20px;
    position: relative
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail {
    left: 0;
    display: flex
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image {
    min-width: 256px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 3px;
    position: relative;
    transition: all .3s ease-in-out
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image img {
    /* filter: invert(25%) sepia(53%) saturate(269%) hue-rotate(163deg) brightness(90%) contrast(89%) */
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image .uicon-detail-holder {
    height: 128px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image .uicon-edit-color-picker {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image .uicon-edit-color-picker .color-picker-wrapper {
    width: 20px;
    margin-bottom: 0;
    margin-left: 20px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image .uicon-edit-color-picker .pcr-app[data-theme=classic]:after,
.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image .uicon-edit-color-picker .pcr-app[data-theme=nano]:after {
    left: 16px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image .uicon-edit-color-picker .pcr-app[data-theme=classic]:before,
.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image .uicon-edit-color-picker .pcr-app[data-theme=nano]:before {
    left: 18px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text {
    max-width: 100%
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text h1 {
    margin: 0 0 15px;
    display: inline-block;
    font-size: 26px;
    color: #374957
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text h1:first-letter {
    text-transform: uppercase
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text>span {
    color: #374957
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .help {
    float: right;
    margin-top: 5px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .help a {
    color: #008b71
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group {
    background-color: #fff
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group__input {
    border: none;
    align-self: center
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group__context .icon--check {
    display: none
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group__context .icon--check:before {
    font-size: 22px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group__context.copied {
    background-color: #2bc48a;
    border-radius: 3px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group__context.copied i {
    color: #fff!important
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group__context.copied .icon--duplicate {
    display: none
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group__context.copied .icon--check {
    display: block
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group button.bj-button--ghost:hover {
    color: #2bc48a;
    background-color: transparent
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group button:focus {
    color: #374957
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group code {
    color: #374957;
    font-size: 14px;
    font-weight: 400;
    margin: 0 20px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group code span {
    display: inline-block
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group code .purple {
    color: #202095
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group code .yellow {
    color: #fcbd24
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group code .green {
    color: #008b71
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .group:before {
    box-shadow: inset 0 0 0 1px #e3e9ed
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download {
    flex-wrap: wrap
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download>a {
    margin-right: 10px;
    flex: 1
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download>a.ios {
    margin-right: 0
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size {
    flex: 2
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .row>.btn {
    padding: .75em 30px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover-content {
    width: fit-content;
    padding: 20px;
    left: -117px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover-content:before {
    left: 116px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover-content:after {
    left: 114px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover-content span {
    height: unset;
    line-height: unset
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover-content ul {
    display: flex
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover-content ul li a {
    padding: 5px 10px;
    color: #374957
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover-content ul li:hover {
    background-color: #f8fafb
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover-content ul li.selected {
    background-color: #eff3f6
}

@media screen and (max-width:768px) {
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download {
        flex-wrap: wrap
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download>a {
        margin-bottom: 10px;
        flex: unset
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download>a.ios,
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download>a.svg {
        margin-right: 0
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size {
        width: 50%
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .btn {
        border-radius: 3px
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .btn-size .popover {
        display: none
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download .button--download {
        width: 50%
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .download>a.android {
        width: calc(50% - 10px);
        margin-bottom: 20px
    }
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .related-tags {
    margin-left: -2px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .related-tags li {
    display: block;
    margin: 2px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .other-styles {
    display: flex
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .other-styles a {
    max-width: 44px;
    height: 44px;
    display: block;
    transition: background-color .2s ease-in-out
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .other-styles a img {
    filter: invert(25%) sepia(53%) saturate(269%) hue-rotate(163deg) brightness(90%) contrast(89%);
    height: unset
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .other-styles a:hover {
    background-color: #eff3f6
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .other-styles .active {
    background-color: #fff;
    box-shadow: inset 0 0 0 1px #e3e9ed;
    border-radius: 6px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail .button--close,
.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail .tooltip.tooltip-open-detail {
    position: absolute;
    right: 0;
    top: 10px;
    height: 44px;
    width: 44px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail .button--close i:before,
.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail .tooltip.tooltip-open-detail i:before {
    font-size: 22px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail .button--close {
    right: 10px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail .tooltip.tooltip-open-detail {
    right: 60px
}

.uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail .tooltip.tooltip-open-detail a {
    padding: 0
}

.uicons__icons .icon__detail--container .editorial-license {
    line-height: 1.4;
    padding: 10px;
    background: rgba(74, 210, 149, .1);
    border-radius: 3px 3px 0 0;
    color: #374957
}

.uicons__icons .icon__detail--container .editorial-license .link--text {
    color: #008b71
}

.uicons__icons .icon__detail--container .register-cdn {
    border-radius: 0 0 3px 3px;
    overflow: hidden
}

.uicons__icons .icon__detail--container .register-cdn .not-registered-user {
    padding: 20px 90px;
    background-color: #2bc48a
}

.uicons__icons .icon__detail--container .register-cdn .registered-user {
    padding: 20px 90px;
    background-color: #eff3f6;
    align-items: stretch;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "cdn package download";
    gap: 40px
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .download-cdn {
    grid-area: cdn;
    display: flex;
    flex-direction: column;
    color: #374957
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .download-cdn p {
    flex: 1
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .download-cdn .group--inputs {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .download-pack {
    grid-area: download;
    color: #374957;
    flex: 1
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .download-pack i:before,
.uicons__icons .icon__detail--container .register-cdn .registered-user .download-pack span {
    color: #374957
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .download-pack a.is-registered {
    box-shadow: inset 0 0 0 2px #cfd9e0;
    color: #374957
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .package-manager {
    grid-area: package;
    color: #374957
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .package-manager a {
    text-decoration: underline
}

.uicons__icons .icon__detail--container .register-cdn .registered-user .package-manager .group--inputs {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr
}

@media screen and (max-width:992px) {
    .uicons__icons .icon__detail--container .uicons__detail--wrapper {
        padding: 60px 20px 20px
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image {
        margin-right: 30px
    }
    .uicons__icons .icon__detail--container .register-cdn .not-registered-user {
        padding: 20px
    }
    .uicons__icons .icon__detail--container .register-cdn .not-registered-user p {
        width: 100%;
        text-align: center
    }
    .uicons__icons .icon__detail--container .register-cdn .not-registered-user a {
        margin-left: 0;
        margin-top: 10px
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user {
        padding: 20px;
        align-items: stretch
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user .download-cdn {
        width: 100%;
        margin-right: 0
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user .download-pack {
        width: 100%
    }
}

@media screen and (max-width:768px) {
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail {
        flex-wrap: wrap;
        margin-bottom: 30px
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image {
        max-width: unset;
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;
        margin-right: 0
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image img {
        width: 64px;
        margin-right: 0
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image svg {
        width: 64px
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text {
        width: 100%
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .related-tags {
        justify-content: center
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text .other-styles span:last-child a {
        margin-right: 0
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user {
        grid-template-areas: "cdn cdn cdn" "package package package" "download download download"
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user .download-cdn .group--inputs,
    .uicons__icons .icon__detail--container .register-cdn .registered-user .package-manager .group--inputs {
        grid-template-columns: 1fr 1fr
    }
}

@media screen and (max-width:640px) {
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail {
        flex-wrap: wrap;
        margin-bottom: 30px
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image {
        max-width: unset;
        width: 100%;
        padding: 20px;
        margin-bottom: 30px;
        margin-right: 0
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image img {
        width: 64px;
        margin-right: 0
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--image svg {
        width: 64px
    }
    .uicons__icons .icon__detail--container .uicons__detail--wrapper .uicons__detail--text {
        width: 100%
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user {
        gap: 20px
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user .download-cdn .group--inputs {
        gap: 10px;
        grid-template-columns: 1fr
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user .download-cdn .group--inputs .group--inputs-cdn {
        flex: unset;
        width: 100%
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user .package-manager .group--inputs {
        gap: 0;
        grid-template-columns: 1fr
    }
    .uicons__icons .icon__detail--container .register-cdn .registered-user .package-manager .group--inputs .group--inputs-npm {
        flex: unset;
        width: 100%
    }
}

.uicons__icons--empty {
    height: 0
}

.uicons__icons-page .font-h4 {
    color: #374957
}

.uicons__icons-page .uicons__icons {
    margin-bottom: 120px
}

.uicons__icons-page .uicons__icons .pagination-bar .pagination-bar__item {
    flex: 7;
    display: block
}

.uicons__icons-page .uicons__icons .pagination-bar .pagination-bar__item:nth-of-type(2) {
    flex: 1;
    display: block
}

@media screen and (max-width:768px) {
    .uicons__icons-page .uicons__icons .pagination-bar .pagination-bar__item:nth-of-type(2) {
        display: none
    }
}

.uicons__icons-page .uicons__icons .pagination-bar .pagination-bar__item .uicons_pagination-btn {
    margin: 0 5px
}

.uicons__icons-page .uicons__icons .pagination-bar {
    margin-top: 50px
}

.pagination-bar .form-box {
    margin: 0
}

.uicons__icons-page .uicons__icons .pagination-bar input#pagination-page::-webkit-inner-spin-button,
.uicons__icons-page .uicons__icons .pagination-bar input#pagination-page::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield
}

.uicons__get-started {
    overflow: unset
}

.uicons__get-started .container {
    max-width: 950px
}

.uicons__sidebar__wrapper {
    width: 240px;
    margin-right: 50px;
    position: sticky;
    position: -webkit-sticky;
    top: 54px
}

.uicons__sidebar {
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(14, 42, 71, .1);
    padding: 10px 0;
    width: 240px;
    border-radius: 3px;
    margin: 20px 0
}

.uicons__sidebar a {
    height: 44px;
    line-height: 44px;
    padding: 0 30px;
    font-size: 14px;
    position: relative;
    display: block;
    border-left: 2px solid transparent
}

.uicons__sidebar a.highlighted {
    background-color: #eff3f6
}

.uicons__sidebar a.active {
    border-color: #00af80
}

.uicons__sidebar a:hover {
    background-color: #f8fafb
}

.uicons__text {
    max-width: 100%
}

.uicons__text>div:not(:first-child) {
    margin-bottom: 50px
}

.uicons__text .row.download-cdn .download {
    padding-right: 20px
}

.uicons__text .row.download-cdn .cdn {
    padding-left: 20px
}

.uicons__text code {
    background-color: #1d262d;
    border-radius: 8px;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 30px 20px
}

.uicons__text code pre {
    white-space: pre-wrap;
    margin: 0
}

.uicons__text .uicons-accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cfd9e0
}

.uicons__text .uicons-accordion__header i {
    color: #374957;
    font-size: 20px;
    width: 20px
}

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(180deg)
    }
}

.uicons__text .uicons-accordion__header i.rotated {
    animation: rotation .5s;
    animation-fill-mode: forwards
}

.uicons__text .uicons-accordion__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out
}

.uicons__text .uicons-accordion__content.active {
    max-height: 600px
}

.uicons__text .uicons-accordion__content code {
    white-space: unset
}

.uicons__text .uicons-accordion__content a {
    text-decoration: underline
}

.uicons__text ul li {
    display: flex;
    align-items: center
}

.uicons__text ul li i {
    margin-right: 5px
}

.uicons__text ul li i:before {
    color: #2bc48a;
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 18px
}

.uicons .notification__inline {
    background-color: rgba(0, 175, 128, .1);
    padding: 10px;
    font-size: 14px
}

.uicons .notification__inline i {
    color: #00af80;
    margin: 5px 5px 0 0
}

.uicons .table {
    white-space: nowrap;
    box-shadow: 0 0 10px 0 rgba(74, 99, 117, .2);
    overflow-x: auto;
    border-radius: 8px;
    font-size: 13px
}

.uicons table td,
.uicons table th {
    height: 54px;
    line-height: 54px;
    padding: 0 10px;
    border-left: 1px solid #e3e9ed
}

.uicons table td:first-child,
.uicons table th:first-child {
    border: none
}

.uicons table td span,
.uicons table th span {
    font-size: 13px
}

.uicons table tbody tr {
    border-top: 1px solid #e3e9ed
}

.uicons .popover-submenu {
    position: relative;
    z-index: 4
}

.uicons .popover-submenu .popover-content {
    width: auto
}

.uicons .popover-submenu .popover-content:before {
    right: 7px
}

.uicons .popover-submenu .popover-content:after {
    right: 5px
}

@media screen and (max-width:992px) {
    .uicons__header-link .badge {
        vertical-align: middle
    }
    .uicons__sidebar {
        margin: 0
    }
    .uicons__header {
        margin-bottom: 10px
    }
    .uicons__selector .row.mg-none {
        width: 100%
    }
    .uicons__selector .uicons__search {
        max-width: unset
    }
}

@media screen and (max-width:640px) {
    .uicons .uicons__search {
        flex: unset;
        width: 100%;
        border-radius: 3px 3px 0 0
    }
    .uicons__detail--wrapper {
        height: unset;
        padding: 20px
    }
    .uicons__detail--wrapper .uicons__detail {
        height: unset;
        bottom: 20px
    }
    .uicons__detail--wrapper .uicons__detail.show {
        bottom: 0
    }
    .uicons__detail--wrapper .uicons__detail.show>div .button--copy,
    .uicons__detail--wrapper .uicons__detail.show>div>div {
        width: 100%
    }
    .uicons__detail--wrapper .uicons__detail.show>div .button--close {
        position: absolute;
        top: 10px;
        right: 10px
    }
    .uicons__detail--wrapper .uicons__detail.fixed {
        bottom: 20px
    }
    .uicons__detail--wrapper .uicons__detail img {
        margin-right: 10px
    }
    .uicons__detail--wrapper .uicons__detail code {
        display: block;
        margin: 20px 0
    }
}

.uicons .pcr-swatches button {
    cursor: default
}

.uicons .pcr-swatches button:disabled,
.uicons .pcr-swatches button[disabled] {
    opacity: 1
}

.uicons__selector--wrapper {
    height: 98px
}

.uicons__selector {
    padding: 5px;
    box-shadow: 0 6px 24px 0 rgba(32, 32, 149, .1);
    border-radius: 10px;
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 3;
    max-width: 1050px;
    width: 100%
}

.uicons__selector>div>div {
    flex: 1
}

.uicons__selector.fixed {
    position: fixed;
    top: 54px;
    left: 0;
    width: 100%;
    max-width: unset
}

.uicons__selector.fixed>div {
    max-width: 1040px;
    margin: 0 auto
}

.uicons__selector--wrapper {
    margin-bottom: 30px
}

.uicons__selector__group-search {
    box-shadow: inset 0 0 0 1px #e3e9ed;
    border-radius: 3px 3px 3px 3px;
    position: relative;
    flex: 1
}

.uicons__selector__group-search .icon--search {
    width: 44px;
    height: 44px;
    line-height: 44px;
    top: 0;
    left: 0;
    color: #374957
}

.uicons__selector__group-search input {
    margin: 0;
    padding: 0 0 0 10px;
    border: none;
    background: none;
    box-sizing: border-box;
    flex: 1
}

.uicons__selector__group-search input:placeholder-shown+button {
    visibility: hidden
}

.uicons__selector__group-search__empty {
    padding: 20px
}

.uicons__selector__group-search__empty i {
    font-size: 38px;
    width: 38px;
    height: 38px;
    line-height: 38px
}

.uicons__selector__group-brands,
.uicons__selector__group-corner,
.uicons__selector__group-search,
.uicons__selector__group-weight {
    margin: 5px
}

.uicons__selector__group-brands ul,
.uicons__selector__group-corner ul,
.uicons__selector__group-search ul,
.uicons__selector__group-weight ul {
    display: flex
}

.uicons__selector__group-brands ul li,
.uicons__selector__group-corner ul li,
.uicons__selector__group-search ul li,
.uicons__selector__group-weight ul li {
    display: inline-block
}

.uicons__selector__group-brands ul li input,
.uicons__selector__group-corner ul li input,
.uicons__selector__group-search ul li input,
.uicons__selector__group-weight ul li input {
    display: none
}

.uicons__selector__group-brands ul li label,
.uicons__selector__group-corner ul li label,
.uicons__selector__group-search ul li label,
.uicons__selector__group-weight ul li label {
    box-shadow: inset 0 0 0 1px #e3e9ed;
    border-radius: 0 0 0 0;
    margin-left: -1px;
    font-size: 14px;
    height: 44px;
    padding: 0 20px
}

.uicons__selector__group-brands ul li label:hover,
.uicons__selector__group-corner ul li label:hover,
.uicons__selector__group-search ul li label:hover,
.uicons__selector__group-weight ul li label:hover {
    background-color: #f8fafb;
    position: relative
}

.uicons__selector__group-brands ul li label i svg,
.uicons__selector__group-corner ul li label i svg,
.uicons__selector__group-search ul li label i svg,
.uicons__selector__group-weight ul li label i svg {
    width: 100%;
    height: 100%;
    fill: #374957
}

.uicons__selector__group-brands ul li input[type=checkbox]:checked~label,
.uicons__selector__group-corner ul li input[type=checkbox]:checked~label,
.uicons__selector__group-search ul li input[type=checkbox]:checked~label,
.uicons__selector__group-weight ul li input[type=checkbox]:checked~label {
    background-color: rgba(43, 196, 138, .1);
    color: #008b71;
    box-shadow: inset 0 0 0 1px #2bc48a;
    z-index: 2;
    position: relative
}

.uicons__selector__group-brands ul li input[type=checkbox]:checked~label:hover,
.uicons__selector__group-corner ul li input[type=checkbox]:checked~label:hover,
.uicons__selector__group-search ul li input[type=checkbox]:checked~label:hover,
.uicons__selector__group-weight ul li input[type=checkbox]:checked~label:hover {
    color: #008b71;
    background-color: rgba(43, 196, 138, .05);
    box-shadow: inset 0 0 0 1px #2bc48a
}

.uicons__selector__group-brands ul li input[type=checkbox]:checked~label:hover i svg,
.uicons__selector__group-brands ul li input[type=checkbox]:checked~label i svg,
.uicons__selector__group-corner ul li input[type=checkbox]:checked~label:hover i svg,
.uicons__selector__group-corner ul li input[type=checkbox]:checked~label i svg,
.uicons__selector__group-search ul li input[type=checkbox]:checked~label:hover i svg,
.uicons__selector__group-search ul li input[type=checkbox]:checked~label i svg,
.uicons__selector__group-weight ul li input[type=checkbox]:checked~label:hover i svg,
.uicons__selector__group-weight ul li input[type=checkbox]:checked~label i svg {
    fill: #008b71
}

.uicons__selector__group-brands ul li:first-child label,
.uicons__selector__group-corner ul li:first-child label,
.uicons__selector__group-search ul li:first-child label,
.uicons__selector__group-weight ul li:first-child label {
    border-radius: 3px 0 0 3px;
    margin-left: 0
}

.uicons__selector__group-brands ul li:last-child label,
.uicons__selector__group-corner ul li:last-child label,
.uicons__selector__group-search ul li:last-child label,
.uicons__selector__group-weight ul li:last-child label {
    border-radius: 0 3px 3px 0
}

.uicons__selector__group-brands ul li:last-child label {
    border-radius: 3px 3px 3px 3px
}

@media screen and (max-width:992px) {
    .uicons__selector .row.mg-none {
        width: 100%
    }
}

@media screen and (max-width:640px) {
    .uicons__selector__group-search {
        flex: unset;
        width: 100%
    }
    .uicons__selector__group-corner,
    .uicons__selector__group-corner ul li,
    .uicons__selector__group-weight,
    .uicons__selector__group-weight ul li {
        flex: 1
    }
    .uicons__selector__group-corner ul li label,
    .uicons__selector__group-weight ul li label {
        justify-content: center
    }
}

@media screen and (max-width:480px) {
    .uicons__selector__group-brands ul li label,
    .uicons__selector__group-corner ul li label,
    .uicons__selector__group-weight ul li label {
        padding: 0 12px
    }
}

.uicons .filterLabels {
    max-width: 1050px;
    margin: 0 auto;
    padding: 30px 0;
    text-align: left;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap
}

.uicons .filterLabels .filterLabel-tag {
    padding: 2px 10px;
    background-color: #eff3f6;
    border-radius: 3px;
    color: #374957;
    cursor: pointer;
    margin-bottom: 10px
}

.uicons .filterLabels .filterLabel-tag i {
    display: inline-block;
    width: unset;
    height: unset;
    line-height: 17px
}

.uicons .filterLabels .filterLabel-tag i:before {
    font-weight: 600;
    vertical-align: text-bottom;
    margin-left: 5px;
    font-size: 12px;
    color: #4a6375
}

.uicons .filterLabels .filterLabel-tag:hover i:before {
    color: #ec3a3b
}

.uicons .filterLabels .clear-all {
    cursor: pointer
}

.uicons .filterLabels .clear-all:hover {
    text-decoration: underline
}

.uicons[data-section=uicons-detail-page]:before {
    display: none
}

.uicons[data-section=uicons-detail-page] .uicons__header {
    margin-bottom: 0;
    background-color: #f8fafb
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero {
    max-width: unset;
    margin-bottom: 60px
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container {
    all: unset;
    background-color: #f8fafb;
    display: block
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container .uicons__detail--wrapper {
    max-width: 1110px;
    padding: 30px;
    margin: 0 auto
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container .uicons__detail--wrapper .all-icons {
    padding: 12px 10px;
    display: inline-block
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container .uicons__detail--wrapper .all-icons i {
    display: inline-block
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container .uicons__detail--wrapper .uicons__detail--image {
    width: unset;
    flex: 1;
    min-width: 256px;
    padding: 20px
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container .register-cdn .container-registered-user {
    background-color: #eff3f6
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container .register-cdn .container-not-registered-user {
    background-color: #2bc48a
}

.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container .register-cdn .not-registered-user,
.uicons[data-section=uicons-detail-page] .uicons__icons.hero .icon__detail--container .register-cdn .registered-user {
    max-width: 1050px;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: unset
}

.uicons[data-section=uicons-detail-page] .uicons__related {
    margin-bottom: 70px
}

.uicons[data-section=uicons-detail-page] .uicons__related .container {
    padding: 0 30px
}

.uicons[data-section=uicons-detail-page] .uicons__related--header {
    max-width: 1050px;
    margin: 20px auto
}

.uicons[data-section=uicons-detail-page] .uicons__related--header h2 {
    color: #374957;
    display: block;
    margin-right: 10px
}

.uicons[data-section=uicons-detail-page] .uicons__related--header .link--arrow.ui-most {
    padding: 0
}

.uicons[data-section=uicons-detail-page] .uicons__related--header .link--arrow.ui-most:hover {
    background: none
}

@media screen and (max-width:768px) {
    .uicons[data-section=uicons-detail-page] .uicons__related .container {
        padding: 0 20px
    }
    .uicons[data-section=uicons-detail-page] .uicons__related .container .uicons__icons {
        width: calc(100% + 20px);
        margin-left: -10px
    }
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action {
    max-width: 1110px;
    color: #374957;
    margin: 0 auto 70px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action .container {
    padding: 0 30px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action>p {
    color: #4a6375
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples {
    width: calc(100% + 20px);
    margin-left: -10px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div {
    height: 20px;
    margin: 10px;
    border-radius: 12px;
    height: 230px;
    width: calc(33% - 20px);
    overflow: hidden
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child {
    background: linear-gradient(115.08deg, rgba(199, 235, 255, .5), rgba(94, 178, 252, .5) 98.5%)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child .phone-example {
    width: 284px;
    border: 8px solid #374957;
    box-shadow: 0 42px 109px rgba(4, 69, 143, .16), 0 9.38125px 24.3466px rgba(4, 69, 143, .0953772), 0 2.79304px 7.24861px rgba(4, 69, 143, .0646228);
    border-radius: 32px;
    height: 241px;
    margin: -40px auto 0;
    background-color: #e3e9ed;
    position: relative;
    overflow: hidden
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child .phone-example--text {
    height: 75px;
    background-color: #f8fafb;
    position: absolute;
    bottom: 58px;
    width: 100%
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child .phone-example--text p {
    padding: 10px 30px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child .phone-example--buttons {
    position: absolute;
    padding: 0 30px;
    background-color: #fff;
    bottom: 0;
    height: 58px;
    width: 100%;
    display: flex;
    justify-content: space-between
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child .phone-example--buttons>span {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child .phone-example--buttons>span:hover {
    background-color: #f8fafb;
    transition: all .2s ease-in;
    box-shadow: inset 0 7px 1px -7px rgba(0, 0, 0, .4)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child .phone-example--buttons span:first-child {
    border-top: 2px solid #1273eb
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child .phone-example--buttons span:first-child img {
    filter: invert(41%) sepia(50%) saturate(6906%) hue-rotate(203deg) brightness(96%) contrast(92%)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) {
    background: linear-gradient(114.93deg, #ececff 2.23%, #d7d7ff 98.59%)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example>div {
    height: 55px;
    width: 235px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example>div>span {
    text-align: center
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example--1 {
    background: #5f5ff6;
    box-shadow: 0 1px 2px rgba(32, 32, 149, .1), 0 2px 5px rgba(32, 32, 149, .15);
    margin-bottom: 20px;
    color: #fff;
    transition: all .2s ease-in
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example--1:hover {
    transform: scale(1.02)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example--1 img {
    filter: invert(100%)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example--2 {
    background: #fff;
    box-shadow: 0 1px 2px rgba(32, 32, 149, .1), 0 2px 5px rgba(32, 32, 149, .15);
    color: #4949e7;
    transition: all .2s ease-in
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example--2:hover {
    transform: scale(1.02)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) .notifications-example--2 img {
    filter: invert(29%) sepia(97%) saturate(4852%) hue-rotate(238deg) brightness(95%) contrast(89%)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(3) {
    background: linear-gradient(114.93deg, #d9ffed 2.23%, #b4ffdb 98.59%);
    display: flex;
    align-items: center;
    justify-content: center
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(3) .menu-example {
    width: 225px;
    background-color: #374957;
    box-shadow: 0 42px 109px rgba(0, 139, 113, .16), 0 9.38125px 24.3466px rgba(0, 139, 113, .0953772), 0 2.79304px 7.24861px rgba(0, 139, 113, .0646228);
    border-radius: 18px;
    padding: 20px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(3) .menu-example>div {
    padding: 10px 20px;
    color: #bac8d3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    transition: all .2s ease-in
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(3) .menu-example>div:hover {
    background: rgba(29, 38, 45, .2)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(3) .menu-example>div:first-child {
    background: rgba(29, 38, 45, .5);
    color: #fff
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(3) .menu-example>div:first-child img {
    filter: invert(100%)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) {
    background: linear-gradient(115.08deg, rgba(255, 222, 204, .5), rgba(255, 200, 175, .5) 98.5%);
    width: calc(40% - 20px);
    display: flex;
    align-items: center;
    justify-content: center
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) .sizes-example {
    width: 340px;
    box-shadow: 0 42px 109px rgba(164, 25, 25, .16), 0 9.38125px 24.3466px rgba(164, 25, 25, .0953772), 0 2.79304px 7.24861px rgba(164, 25, 25, .0646228);
    border-radius: 18px;
    overflow: hidden
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) .sizes-example>div {
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) .sizes-example--white {
    background-color: #fff
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) .sizes-example--white img {
    filter: invert(23%) sepia(48%) saturate(302%) hue-rotate(164deg) brightness(96%) contrast(88%);
    transition: all .2s ease-in
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) .sizes-example--white img:hover {
    transform: scale(1.1)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) .sizes-example--black {
    background-color: #374957
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) .sizes-example--black img {
    filter: invert(100%);
    transition: all .2s ease-in
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) .sizes-example--black img:hover {
    transform: scale(1.1)
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) {
    background: linear-gradient(97.41deg, #fff3cd, #ffe28f 99.65%);
    width: calc(59% - 20px);
    padding: 40px 50px;
    overflow: hidden
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example {
    width: 700px;
    border: 8px solid #374957;
    border-radius: 16px;
    height: 300px;
    overflow: hidden;
    background-color: #f8fafb;
    box-shadow: 0 42px 109px rgba(109, 82, 19, .16), 0 9.38125px 24.3466px rgba(109, 82, 19, .0953772), 0 2.79304px 7.24861px rgba(109, 82, 19, .0646228);
    display: flex
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--sidebar {
    width: 68px;
    height: 100%;
    background-color: #eff3f6;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--sidebar img {
    margin-bottom: 22px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body {
    height: 100%;
    flex: 1;
    padding: 30px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body>p {
    font-size: 20px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body span {
    margin-bottom: 15px;
    color: #374957;
    display: block
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body--frame {
    width: 144px;
    height: 140px;
    background-color: #eff3f6;
    display: inline-block;
    vertical-align: middle;
    border-radius: 18px;
    margin-right: 10px;
    padding: 16px;
    transition: all .2s ease-in
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body--frame:hover {
    margin-top: -5px
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body--frame>div {
    background-color: #e3e9ed;
    border-radius: 50px;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body--frame.yellow {
    background-color: #fcdb7e
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body--frame.yellow>div {
    background-color: #ffeeb6
}

.uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) .tablet-example--body--frame.yellow>div img {
    filter: invert(24%) sepia(36%) saturate(382%) hue-rotate(163deg) brightness(97%) contrast(89%)
}

@media screen and (max-width:992px) {
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child,
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2) {
        width: calc(50% - 20px)
    }
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(3) {
        width: calc(40% - 20px)
    }
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) {
        width: calc(60% - 20px)
    }
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(5) {
        display: none
    }
}

@media screen and (max-width:768px) {
    .uicons[data-section=uicons-detail-page] .icon__font__in__action {
        margin-bottom: 40px
    }
    .uicons[data-section=uicons-detail-page] .icon__font__in__action .container {
        padding: 0 20px
    }
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:first-child,
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(2),
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(3),
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) {
        width: calc(100% - 20px)
    }
}

@media screen and (max-width:640px) {
    .uicons[data-section=uicons-detail-page] .icon__font__in__action--examples>div:nth-child(4) {
        display: none
    }
}

.uicons[data-section=uicons-detail-page] .find-best-icon-font {
    max-width: 1110px;
    color: #374957;
    margin: 0 auto 70px
}

.uicons[data-section=uicons-detail-page] .find-best-icon-font .container {
    padding: 0 30px
}

.uicons[data-section=uicons-detail-page] .find-best-icon-font--content {
    background: linear-gradient(98.75deg, rgba(179, 179, 252, .25) 2.58%, rgba(199, 235, 255, .25) 47.57%, rgba(199, 255, 199, .25) 98.55%);
    border-radius: 12px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.uicons[data-section=uicons-detail-page] .find-best-icon-font--content a {
    line-height: 1.2
}

@media screen and (max-width:992px) {
    .uicons[data-section=uicons-detail-page] .find-best-icon-font--content {
        flex-direction: column
    }
    .uicons[data-section=uicons-detail-page] .find-best-icon-font--content--text {
        text-align: center;
        margin-bottom: 30px
    }
}

@media screen and (max-width:768px) {
    .uicons[data-section=uicons-detail-page] .find-best-icon-font {
        margin-bottom: 40px
    }
    .uicons[data-section=uicons-detail-page] .find-best-icon-font .container {
        padding: 0 20px
    }
}

.uicons[data-section=uicons-detail-page] .doubts-support {
    max-width: 1110px;
    margin: 0 auto;
    color: #4a6375
}

.uicons[data-section=uicons-detail-page] .doubts-support .container {
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px
}

.uicons[data-section=uicons-detail-page] .doubts-support a {
    color: #008b71
}

.uicons[data-section=uicons-detail-page] .doubts-support--doubts,
.uicons[data-section=uicons-detail-page] .doubts-support--support {
    width: 40%
}

@media screen and (max-width:768px) {
    .uicons[data-section=uicons-detail-page] .doubts-support .container {
        margin-bottom: 40px
    }
    .uicons[data-section=uicons-detail-page] .doubts-support--doubts,
    .uicons[data-section=uicons-detail-page] .doubts-support--support {
        width: 100%
    }
}


/*# sourceMappingURL=fi-uIcons-new-brands.b188bd9ed9b351ed9d4b.css.map */